@import "../../mixins.scss";

.header {
    position: fixed;
    transform: translateY(0);
    width: 100%;
    height: 60px;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
    z-index: 2;
    &.top {
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
    }
    &.show {
        background-color: var(--black3);
    }
    &.hide {
        transform: translateY(-60px);
    }

    .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        cursor: pointer;
        img {
            height: 20px;
        }
    }
    .menuItems {
        list-style-type: none;
        display: none;
        align-items: center;
        @include md {
            display: flex;
        }
        .menuItem {
            height: 60px;
            display: flex;
            align-items: center;
            margin: 0 15px;
            color: white;
            font-weight: 500;
            position: relative;
            svg {
                font-size: 18px;
            }
            cursor: pointer;
            .subMenu {
                position: absolute;
                top: 60px;
                left: 0;
                min-width: 150px;
                background-color: white;
                color: var(--black);
                flex-direction: column;
                padding: 5px;
                border-radius: 4px;
                transition: all ease 0.3s;
                height: 0;
                display: none;
                @include md {
                    display: flex;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(25px);
                    height: auto;
                }
                .subMenuItem {
                    padding: 15px 12px;
                    border-radius: 4px;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }

            &:hover {
                color: var(--pink);
                .subMenu {
                    display: flex;
                    height: auto;
                    @include md {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    .mobileMenuItems {
        display: flex;
        align-items: center;
        gap: 20px;
        @include md {
            display: none;
        }
        svg {
            font-size: 18px;
            color: white;
        }
    }

    &.mobileView {
        background: var(--black3);
        .menuItems {
            display: flex;
            position: absolute;
            top: 60px;
            left: 0;
            background: var(--black3);
            flex-direction: column;
            width: 100%;
            padding: 20px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            animation: mobileMenu 0.3s ease forwards;
            .menuItem {
                font-size: 20px;
                width: 100%;
                height: auto;
                padding: 15px 20px;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &:last-child {
                    display: none;
                }
                .subMenu {
                    width: calc(100% + 40px);
                    color: white;
                    padding: 0;
                    position: static;
                    margin-top: 10px;
                    background: var(--black2);
                    border-radius: 0;
                    margin-left: -20px;
                    padding-left: 20px;
                }
            }
        }
    }
}

@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }
    100% {
        transform: translateY(0);
    }
}
