@import "../../mixins.scss";

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);

    .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        img {
            height: 20px;
        }
    }
    .menuItems {
        list-style-type: none;
        display: none;
        align-items: center;
        @include md {
            display: flex;
        }
        .menuItem {
            margin: 0 15px;
            color: white;
            font-weight: 500;
            svg {
                font-size: 18px;
            }
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }
        }
    }

    .mobileMenuItems {
        display: flex;
        align-items: center;
        gap: 20px;
        @include md {
            display: none;
        }
        svg {
            font-size: 18px;
            color: white;
        }
    }

    &.mobileView {
        background: #04152d;
        .menuItems {
            display: flex;
            position: absolute;
            top: 60px;
            left: 0;
            background: #04152d;
            flex-direction: column;
            width: 100%;
            gap: 25px;
            padding: 50px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            animation: mobileMenu 0.3s ease forwards;
            .menuItem {
                font-size: 20px;
                &:last-child {
                    display: none;
                }
            }
        }
    }
}

@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }
    100% {
        transform: translateY(0);
    }
}
