@import "../../mixins.scss";
.detailsBanner {
    width: 100%;
    height: 450px;
    background-color: var(--black);
    padding-top: 120px;
    @include md {
        height: 700px;
    }
    .backdrop-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.1;
    }
    .opacity-layer {
        width: 100%;
        height: 250px;
        background: linear-gradient(
            180deg,
            rgba(4, 21, 45, 0) 0%,
            #04152d 79.17%
        );
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .content {
        display: flex;
        position: relative;
        gap: 50px;
        .left {
            .posterImg {
                max-width: 350px;
                display: block;
                border-radius: 12px;
            }
        }
        .right {
            color: white;
            .title {
                font-size: 34px;
                line-height: 44px;
            }
            .subtitle {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 15px;
                font-style: italic;
                opacity: 0.5;
            }
            .genres {
                margin-bottom: 25px;
            }
            .overview {
                margin-bottom: 40px;
                .heading {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                .description {
                    line-height: 24px;
                    padding-right: 100px;
                }
            }
            .circleRating {
                max-width: 90px;
                .CircularProgressbar-text {
                    fill: white;
                }
            }
            .playbtn {
                display: flex;
                align-items: center;
                gap: 20px;
                cursor: pointer;
                .text {
                    font-size: 20px;
                    transition: all 0.7s ease-in-out;
                }
                .triangle {
                    stroke-dasharray: 240;
                    stroke-dashoffset: 480;
                    stroke: white;
                    transform: translateY(0);
                    transition: all 0.7s ease-in-out;
                }
                .circle {
                    stroke: white;
                    stroke-dasharray: 650;
                    stroke-dashoffset: 1300;
                    transition: all 0.5s ease-in-out;
                }
                &:hover {
                    .text {
                        color: var(--pink);
                    }
                    .triangle {
                        stroke-dashoffset: 0;
                        opacity: 1;
                        stroke: var(--pink);
                        animation: trailorPlay 0.7s ease-in-out;
                    }
                    .circle {
                        stroke-dashoffset: 0;
                        stroke: var(--pink);
                    }
                }
            }
            .row {
                display: flex;
                align-items: center;
                gap: 25px;
            }
        }
    }
}
